body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-search input {
    padding: 6px;
    border-radius: 10px;
    background-color: #555; /* Slightly different color for better contrast */
    font-size: 1em;
    margin-left: 110px;
    width: 250px;
    border: none;
    color: white;
}

.navbar-search input::placeholder {
    color: #aaa; /* Placeholder color */
}

.navbar-avatar {
    display: flex;
    align-items: center;
}

.navbar-avatar img {
    width: 35px; /* Consistent with Avatar size */
    height: 35px;
    border-radius: 50%;
}
