body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-search input {
  padding: 6px;
  border-radius: 10px;
  background-color: #333;
  font-size: 1em;
  width: 250px;
  margin-top: 10px;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.grid-container {
  padding: 6px;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .navbar-search input {
    width: 150px;
  }

  .navbar-icons {
    display: none; /* Hide icons on small screens */
  }

  .App {
    padding: 8px;
    background-color: black;
  }
}
